body {
	font-family: monospace;
	background: #f3f3f3;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	color: #000000;
	text-align: center;
	margin: 20px 0;
}

.container {
	display: flex;
	width: 100%;
	height: calc(100vh - 80px);
	gap: 24px;
	padding: 24px;
	box-sizing: border-box;
	overflow: hidden;
}

.notes-list {
	flex: 1;
	overflow-y: auto;
	padding: 10px;
	border-right: 2px solid #ccc;
}

.note-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 10px;
	padding: 10px;
	height: 100%;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	height: 100%;
}

input, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	outline: none;
}

textarea {
	flex: 1;
	resize: none;
}

button {
	background: #0cbb2f;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	transition: background 0.3s;
	margin-top: auto;
}

button:hover {
	background: #0c9b18;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

li {
	background: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	word-break: break-word;
}

li div {
	align-self: flex-end;
	display: flex;
	gap: 10px;
}

button {
	margin-left: 5px;
}